/* 给导航栏设置样式和高度 */
.nav{
    height:30px;
    background:#e3e4e5 ;
    border-bottom: 1px solid #ddd;
}

/* 导航栏右侧ul块设置容器有固定的宽度并居中 */
.nav-box{
    margin:0px auto;
    width: 1190px;
    text-align:right;
}
/* 设置nav-box包裹文字以行内元素显示并设置样式 */
.nav-box ul li {
    display:inline-block;
    padding:0px 10px;
    font-size: 12px;
    height:30px;
    line-height: 30px;
    position:relative;
}


/* <a>标签底线消除样式统一 */
.nav-box ul li a {
    color:#999;
    text-decoration: none;
}

/* 用伪类设计竖线 */
.nav ul li:not(:last-child):after{
    content:"";
    width:1px;
    height:14px;
    background: #cccccc;
    top:8px;
    right:-1px;
    position:absolute;
    display:block;
   
}

.nav-box ul li a:hover{
    color:red;
}

/* header图片样式 */
.header-box{
    height: 140px;
    background:#ffffff;

}
.header{
    width:1190px;
    display:flex;
    margin:0px auto;
    padding:10px 0px;
}



.header .logo-box{
    width:190px;
    height:120px;
}
.header .search-box{
    width: 790px;
    padding: 0px 10px;
    
}

.search-bar input{
    border:1px solid red;
    width: 500px;
    height: 30px;
    padding: 2px 10px;
    outline:none;
}
.header .recommend a{
    color: #999999;
}

.search-bar  .search-btn{
    width: 50px;
    height: 34px;
    border: 1px solid#e1251b;
    background: red;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
}
.header .search-bar{
    padding: 10px 0px 0px 50px;
    display:flex;
}

.search-bar .cart-btn{
    margin: 0px 0px 0px 20px;
    border:1px solid red ;
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: red;
    font-size: 12px;
    cursor: pointer;
}
.search-bar .iconfont-search{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;

}
.search-bar .iconfont-cart{
    font-size: 19px;
    font-weight: bold;
}
.header .recommend {
    font-size: 12px;
    padding: 5px 0px 20px 50px;
}
.header .recommend2{
    width: 1700px;
}

.search-box ul li{
    display:inline-block;
    padding: 0px 10px;
}

.search-box ul li a{
    color: #333333;
    text-decoration: none;
}

.ad-box img{
    height: 66px;
    width: 73px;
    margin: 5px 5px 100px 100px;
}

/* .search-box里的firstchild红色 */
.search-box .recommend li:first-child a{
    color: red;
}
.search-box .recommend2 li:nth-child(-n+2) a{
    color: red;
}

.content .wrapper{
    margin: 0px auto;
    width: 1190px;
    padding: 10px;
    display: flex;
}

.menu-box{
    width: 190px;
    background: #ffffff;
    position: relative;
    padding: 10px 0px;
    margin-right: 10px;
}
.menu-box ul li{
    height: 25px;
    line-height: 25px;
    padding: 0px 12px;
    overflow: hidden;
}
.menu-box ul li:hover{
    background: #d9d9d9;

}
/* .menu-box ul li:hover .sub-menu{
    display: block;
} */
.menu-box ul li .active{
    display: block;
}

.menu-box ul li a{
    color: #333333;
    text-decoration: none;
}
.menu-box ul li a:hover{
    color: #e1251b;
}
/* Z-index 仅能在定位元素上奏效（例如 position:absolute;） */
.menu-box .sub-menu{
    position: absolute;
    top: 0px;
    left: 190px;
    background: #ffffff;
    z-index: 10;
    width: 900px;
    padding: 20px;
    font-size: 12px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.3);
    display: none;
}
.sub-menu .menu-title .item{
    display: inline-block;
    background: #333333;
    padding: 0px 8px;
    margin: 0px 10px 0px 0px;
    color: #ffffff;

}
.sub-menu .menu-title .item:hover{
    background: #e1251b;

}
.sub-menu .left-box{
    float: left;
    max-width:700px;
} 
.sub-menu .right-box{
    float: left;
    width:160px;
} 
.sub-menu .menu-title{
    margin: 0px 0px 10px 0px;
}
/* 弹性布局让dt和dd在同一行显示 */
.sub-menu dl{
    display: flex;
}
/* flex-shrink在flex布局中元素可否被压缩 */
.sub-menu dt{
    font-weight: bold;
    width: 60px;
    text-align: right;
    flex-shrink: 0;
}
.sub-menu dd{
   padding: 0px 4px 4px 4px;
   white-space: nowrap;
}
.sub-menu .right-box{
    float: right;
    width: 168px;
}

.sub-menu .pic-box{
    margin: 0px 0px 10px 0px;

}
/* 最后一个子元素margin=0 */
.sub-menu .pic-box:last-child{
    margin: 0px;
}

/* 轮播图 */
.slider-box {
    margin-right:10px;

}
.slider-box .slider{
    width: 590px;
    height: 470px;
    position: relative;
    /* 不能溢出，在相框内部 */
    overflow: hidden;
}

.slider-box .slider ul{
    position: absolute;
    /* 设置行内元素便于dom中的style读取到left    left: -590px; */
    display: inline-flex;
    top: 0px;
    
    width: 500%;
    height: 100%;   
}
.search-box .slider ul li{
    float: left;
}

.slider-box .left-box{
    background: rgba(0, 0,0,0.2);
    position: absolute;
    top:45%;
    left: 0px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-box .right-box{
    background: rgba(0, 0,0,0.2);
    position: absolute;
    top:45%;
    right: 0px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-box .left-box, .slider-box .right-box span{
    font-size: 22px;
}

.slider-box .index-box{
    position: absolute;
    /* 百分比更好进行适配 */
    bottom: 3%;
    left: 10%;
    
}

.slider-box .index-box >ol{
    height: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0,0,0.6);
}

.slider-box .index-box >ol > li{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: #ffffff;
   list-style: none;
   cursor: pointer;

}

.slider-box .index-box >ol > li.active{
    background: #e1251b;
}